<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">
    <img src="https://scontent.fbud2-1.fna.fbcdn.net/v/t31.0-8/1272800_586255634763856_742430169_o.jpg?oh=a77074c188e0c3c62229eb532d720f7d&oe=59771DE6" alt="FS" class="rounded" width="30">
    FS
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href=<%= root_path %>>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=<%= home_about_path %>>Link</a>
      </li>
    </ul>
  </div>
</nav>