<div class="page-header">
  <h1>O mnie...
  <small>Nazywam się <span class="frozens">FrozenSand</span> i..<br>
      .. tutaj piszę aplikację image_app na podstawie książki Ruby on Rails, John Elde.
  </small>
  </h1>
</div>