<div class="jumbotron">
    <h1>Witaj w aplikacji!</h1>
    <p>niebawem coś tu będzie</p>
    <%= link_to 'Start', root_path, class: 'btn btn-default btn-sx' %>
    <%= link_to 'O mnie', home_about_path, class: 'btn btn-primary' %>
</div>
